[Unit]
Description=Strapdown Wiki
After=network.target

[Service]
ExecStart=/usr/local/bin/strapdown-server -addr=:3366
WorkingDirectory=/home/wiki/strapdown
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
