
/*******************************************************************

This chunk is to fix Bootstrap so that the Markdown output looks good

*******************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 150%;
}

xmp, textarea {
  display: none;
}

h1,h2,h3,h4 {
  margin: 15px 0;
}

pre {
  margin: 20px 0;
}

img {
  margin: 10px 0;
}

.navbar {
  z-index: 1;
}

.table {
  width: auto;
}

/* fix issue: https://github.com/arturadib/strapdown/issues/25 */
td[align=right] { text-align: right; }
td[align=center] { text-align: center; }
td[align=left] { text-align: left; }

/*******************************************************************

This chunk is for Google's Code Prettify:
http://google-code-prettify.googlecode.com

*******************************************************************/


/* Pretty printing styles. Used with prettify.js. */

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: .8em 1em; border: 1px solid #05232b; background-color: #23241f; font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}

/* SPAN elements with the classes below are added by prettyprint. */

@media screen {
  .pln { color: #f8f8f2 }  /* plain text */
  .str { color: #e6db74 }  /* string content */
  .kwd { color: #f92672 }  /* a keyword */
  .com { color: #75715e }  /* a comment */
  .typ { color: #f92672 }  /* a type name */
  .lit { color: #ae81ff }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #f8f8f2 }
  .tag { color: #f92672 }  /* a markup tag name */
  .atn { color: #a6e22e }  /* a markup attribute name */
  .atv { color: #e6db74 }  /* a markup attribute value */
  .dec, .var { color: #f8f8f2 }  /* a declaration; a variable name */
  .fun { color: #a6e22e }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  pre.prettyprint { background-color: none }
  .pln { color: #000 }  /* plain text */
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

