
/*******************************************************************

This chunk is to fix Bootstrap so that the Markdown output looks good

*******************************************************************/

body {
  padding-top: 70px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 150%;
}

xmp, textarea {
  display: none;
}

h1,h2,h3,h4 {
  margin: 15px 0;
}

pre {
  margin: 20px 0;
}

img {
  margin: 10px 0;
}

.navbar {
  z-index: 1;
}

.table {
  width: auto;
}

pre.code-wrapper {
  padding: 0px;
  border: none;
}

/* fix issue: https://github.com/arturadib/strapdown/issues/25 */
td[align=right] { text-align: right; }
td[align=center] { text-align: center; }
td[align=left] { text-align: left; }

/* header anchor */

.anchor {
  text-decoration: none !important;
  cursor: auto;
  vertical-align: top;
  position: absolute;
  left: 0px;
  margin-left: -30px;
  top: -6px;
  bottom: 0px;
  outline:none;
  width: 0px;
}

@media (min-width: 980px) {
  .anchor {
    padding-top: 60px;
    margin-top: -60px;
  }
}

.anchor:active, .anchor:focus, .anchor .header-link:active, .anchor .header-link:focus {
  outline:none;
}

.anchor .header-link:before {
  content: '\00b6';
  display: inline-block;
  vertical-align: middle;
}

.anchor .header-link {
  opacity: 0;
  float: right;
  width: 30px;
  position: absolute;
  bottom:0;
  outline:none;
  text-align: center;
  transition: opacity 0.5s ease;
}

.anchor .header-link:hover {
  opacity: 1;
  vertical-align: middle;
  outline:none;
}

.anchor:hover .header-link, h1:hover .header-link, h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link {
  display: inline-block;
  opacity: 1;
  vertical-align: middle;
  outline:none;
}

/*******************************************************************

This chunk is for Google's Code Prettify:
http://google-code-prettify.googlecode.com

*******************************************************************/


/* Pretty printing styles. Used with prettify.js. */

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: .8em 1em; border: 1px solid #05232b; background-color: #23241f; font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}

/* SPAN elements with the classes below are added by prettyprint. */

@media screen {
  .pln { color: #f8f8f2 }  /* plain text */
  .str { color: #e6db74 }  /* string content */
  .kwd { color: #f92672 }  /* a keyword */
  .com { color: #75715e }  /* a comment */
  .typ { color: #f92672 }  /* a type name */
  .lit { color: #ae81ff }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #f8f8f2 }
  .tag { color: #f92672 }  /* a markup tag name */
  .atn { color: #a6e22e }  /* a markup attribute name */
  .atv { color: #e6db74 }  /* a markup attribute value */
  .dec, .var { color: #f8f8f2 }  /* a declaration; a variable name */
  .fun { color: #a6e22e }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  pre.prettyprint { background-color: none }
  .pln { color: #000 }  /* plain text */
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

For highlight.js syntax highlighting

*/

.hljs {
    display: block;
    padding: .8em 1em;
    background-color: #2c2c27;
}


.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-doctype,
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-tag .hljs-attribute,
.java .hljs-annotation,
.python .hljs-decorator,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #F92672;
}

.hljs-built_in,
.hljs-typename,
.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-params {
  color: #e09800;
}

.hljs-variable,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-tag .hljs-value,
.css .hljs-id,
.hljs-subst,
.haskell .hljs-type,
.ruby .hljs-class .hljs-parent,
.sql .hljs-aggregate,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-template_comment,
.hljs-pi,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}

/*

Make the edit and history button switchable

*/
.edit-link, .history-link{
  display: none;
}
.edit .edit-link, .history .history-link{
  display: block;
}
